{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Amir Mehran</title>

<!-- Bootstrap -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/AM.css' %}" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Menu -->
<div class="container-fluid center">

<div class=""></div>
	
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadd bLeft sTitle">
		<a href="http://amirmehran.com"><p class="tTitle">AMIR</p></a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadd bRight sTitle">
		  <a href="http://amirmehran.com"><p class="tTitle">MEHRAN</p></a>
	</div>
</div>
	
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadd bLeft sBio">
		  <a href="http://amirmehran.com/about/"><li class="tBio" style="font-size: 18pt">ABOUT</li></a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	</div>
</div>
	
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadd bRight sAnimation">
		  <a href="http://amirmehran.com/animations/"><li class="tAnimation" style="font-size: 18pt">ANIMATION</li></a>
	</div>
</div>
	
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadd bRight sMotion">
			<a href="http://amirmehran.com/motion/"><li class="tMotion" style="font-size: 18pt">MOTION</li></a>
	</div>
</div>
	
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadd bRight sPrint">
			<a href="http://amirmehran.com/prints/"><li class="tPrint" style="font-size: 18pt">PRINT</li></a>
	</div>
</div>
	
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadd bLeft sContact">
			<a href="http://amirmehran.com/contact/"><li class="tContact" style="font-size: 18pt">CONTACT</li></a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	</div>
</div>

</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="js/less.min.js" ></script>
</body>
</html>
