{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Amir Mehran - {{ print.title }}</title>

	<!-- Bootstrap -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/AM.css' %}" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<!-- Menu -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadd bLeft sContact">
		<span class="menuLink">
			<a href="../../about/"><li class="mBio">ABOUT</li></a><br>
			<a href="../../animations/"><li class="mAnimation">ANIMATION</li></a><br>
			<a href="../../motion/"><li class="mMotion">MOTION</li></a><br>
			<a href="../../prints/"><li class="mPrint">PRINT</li></a><br>
			<a href="../../contact/"><li class="mContact">CONTACT</li></a><br>
		</span>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadd bRight sTitle">
			<a href="http://www.amirmehran.com"><span class="sTitle AM">AMIR<br>MEHRAN</span></a>
		</div>
	</div>
</div>
<br>
<!-- Body -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3"></div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 noPadd bLeft sBio">

			<!-- Poster -->
			<img class="img-responsive" src="../../media/{{ print.poster }}" alt="">

		</div>

		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 noPadd bRight sPrint">

			<!-- Description -->
			<div class="Thumb">

				<div class="ThumbInfo">

					<p class="tPrint">{{ print.title }}</p>

					<br><br>

					<p class="tPrint" style="font-weight: 100;">{{ print.year }}</p>

					<br><br>

					<p class="tPrint des" dir="ltr">{{ print.short_description }}</p>
				</div>
			</div>

		</div>
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
	</div>
	<!-- Video embed -->
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 noPadd">

			<div class="sPrint" >
				<div class="tPrint desBlock">
					{% autoescape off %}
					{{ print.description }}
					{% endautoescape %}
				</div>

			</div>

			<div class="PrintItem">
				<img style="max-width: 100%; min-width: 100%;" src="../../media/{{ print.image }}" alt="">
			</div>

		</div>
		<div class="col-lg-2 col-md-2 col-sm-2"></div>
	</div>


</div>

<!-- Footer -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/less.min.js' %}" ></script>
</body>
</html>

