@charset "utf-8";
/* CSS Document */
.Contact a {
	color: white !important;
}
.desBlock a {
	color: #648c96 !important;
	font-weight: bold;
}
.test {
	background-color: #AB0002;
	border-color: #000;
	border: solid;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.noPadd{
		padding-left: 0;
		padding-right: 0;
	}

.bRight {
	padding-left: 1px;
	}

.bLeft {
		padding-right: 1px;
		direction: rtl;
	}

.menuLink {
		padding-right: 10px;
		display: inline-block;
		list-style-type: none;
		font-size: 16px;
		line-height: 20px;
		font-weight: bold !important;
		padding: 0px;
	}

li{
		transition-property:all;
		transition-duration:200ms;
		-webkit-transition-property:all;
		-webkit-transition-duration:200ms;
		-moz-transition-property:all;
		-moz-transition-duration:200ms;	
	}

li:hover{
		letter-spacing: 3px;
	}

.AM {
		font-size: 40px;
		font-weight: 200;
		line-height: 32px;
		display: inline-block;
		padding: 17px;
	}

.footer{
	padding-top: 50px;
	padding-bottom: 20px;
	color: #fff;
	position: fixed;
	bottom: 0px;
}

.mThumb{
		background-size: cover;
		overflow: hidden;
	}
	

.mThumbInfo{
		display: inline-block;
		position: absolute;

	}

@media screen and (min-width: 601px){
		.mThumbInfo {
			width: 30%;
			line-height: 142%;
		}
	}

@media screen and (max-width: 600px){
		.mThumbInfo {
			width: 50%;
			line-height: 98%;
		}
	}
.VideoItem{
	padding:56.25% 0 0 0;
	position:relative;
	border: solid thin white;
	margin-bottom: 25px;
	background-color: #A7A7A7;
	background-image:url(../img/ajax-loader.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.PrintItem{
	border: solid thin white;
	margin-bottom: 25px;
	background-color: #A7A7A7;
	background-image:url(../img/ajax-loader.gif);
	background-position: center;
	background-repeat: no-repeat;
}
.mPortfolio {
		color: #fff !important;
		background: #648c96;
		display:inline;
		padding: 0 5px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}	

@media screen and (min-width: 601px){
		.mPortfolio {
			font-size: 18px;			
		}
	}

@media screen and (max-width: 600px){
		.mPortfolio {
			font-size: 12px;			
		}
	}

.Thumb{
		background-size: cover;
		overflow: hidden;
	}
	

.ThumbInfo{
	position: absolute;
	}

@media screen and (min-width: 601px){
		.ThumbInfo {
			width: 60%;
			line-height: 142%;
		}
	}

@media screen and (max-width: 600px){
		.ThumbInfo {
			width: 80%;
			line-height: 98%;
		}
	}

.sAnimation {
		color: #648c96 !important;
		border-color: #648c96 !important;
	}

.tAnimation {
		color: #fff !important;
		background: #648c96;
		display:inline;
		padding: 0 5px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}	

@media screen and (min-width: 601px){
		.tAnimation {
			font-size: 18px;			
		}
	}

@media screen and (max-width: 600px){
		.tAnimation {
			font-size: 12px;			
		}
	}
.mAnimation {
		color: #fff !important;
		background: #648c96;
		display:inline;
		padding: 0 5px;
		font-size: 18px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}	

.sMotion {
		color: #aad2e6 !important;
		border-color: #aad2e6 !important;
	}

.tMotion {
		color: #fff !important;
		background: #aad2e6;
		display:inline;
		padding: 0 5px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}	

@media screen and (min-width: 601px){
		.tMotion {
			font-size: 18px;			
		}
	}

@media screen and (max-width: 600px){
		.tMotion {
			font-size: 12px;			
		}
	}
.mMotion {
		color: #fff !important;
		background: #aad2e6;
		display:inline;
		padding: 0 5px;
		font-size: 18px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}	

.sPrint {
		color: #a0c8be !important;
		border-color: #a0c8be !important;
	}

.tPrint {
		color: #fff !important;
		background: #a0c8be;
		display:inline;
		padding: 0 5px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}	

@media screen and (min-width: 601px){
		.tPrint {
			font-size: 18px;			
		}
	}

@media screen and (max-width: 600px){
		.tPrint {
			font-size: 12px;			
		}
	}
.mPrint {
		color: #fff !important;
		background: #a0c8be;
		display:inline;
		padding: 0 5px;
		font-size: 18px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}	

.des {
		font-weight: 100;
		color: #648c96 !important;
		background: #e6e6e6 !important;
		font-size: 14px;
	}

.desBlock {
		font-weight: 100;
		color: #648c96 !important;
		background: #e6e6e6 !important;
		display: block;
		text-align: justify;
		border: solid thin;
		border-color: white;
		padding: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
		font-size: 14px;
	}

.pItem{
		display: contents;
		position: inherit;
	}

.hImage{
		visibility: hidden;
	}

.sBio {
		color: #b4aaa0 !important;
		border-color: #b4aaa0 !important;
	}

.tBio {
		color: #648c96;
		display:inline;
		padding: 0 5px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}	

@media screen and (min-width: 601px){
		.tBio {
			font-size: 18px;			
		}
	}

@media screen and (max-width: 600px){
		.tBio {
			font-size: 12px;			
		}
	}
.mBio {
		color: #fff !important;
		background: #b4aaa0;
		display:inline;
		padding: 0 5px;
		font-size: 18px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}	
.Bio p{
		color: #648c96;
		display:inline;
		padding: 0 5px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;

}

@media screen and (min-width: 601px){
		.Bio {
			line-height: 142%;
		}
	}

@media screen and (max-width: 600px){
		.Bio {
			line-height: 98%;
		}
	}

.BioTitle{
	border: solid thin white;
	position: relative;
	color: #b4aaa0;
	background: #e6e6e6;
}

.Contact p{
		color: #fff !important;
		background: #d2be96;
		display:inline;
		padding: 0 5px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;

}
@media screen and (min-width: 601px){
		.Contact {
			line-height: 142%;
		}
	}

@media screen and (max-width: 600px){
		.Contact {
			line-height: 98%;
		}
	}
.mContact {
		color: #fff !important;
		background: #d2be96;
		display:inline;
		padding: 0 5px;
		font-size: 18px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}	

.sContact {
		color: #d2be96 !important;
		border-color: #d2be96 !important;
	}

.tContact {
		color: #fff !important;
		background: #d2be96;
		display:inline-block;
		padding: 0 5px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
	}	

@media screen and (min-width: 601px){
		.tContact {
			font-size: 18px;			
		}
	}

@media screen and (max-width: 600px){
		.tContact {
			font-size: 12px;			
		}
	}

.sTitle {
		color: #648c96 !important;
		border-color: #648c96 !important;
	}

.tTitle {
		color: #648c96 !important;
		background: #fff;
		display:inline;
		padding: 0 5px;
 		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		font-weight: 100;
	}	
@media screen and (min-width: 601px){
		.tTitle {
			font-size: 30pt;			
		}
	}

@media screen and (max-width: 600px){
		.tTitle {
			font-size: 30pt;			
		}
	}
